{% extends 'base.html.twig' %}


{% block main %}
    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        {{ form_rest(form) }}
    <input type="submit">
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
